body {
  padding-top: 70px;
}
.container-fluid {
  margin: 0 auto;
  width: 100%;
  padding: 0px 0px;
}
h1.company {
  font: 'Adobe Gothic Std B';
  color: #8A0707;
}
h1.company > small {
  color: #E3DAC9;
}
ul.nav {
  margin-top: 20px;
  margin-bottom: 10px;
}
ul.nav.nav-pills>li.active>a,
ul.nav.nav-pills>li.active>a:hover,
ul.nav.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #E9967A;
}
.nav>li>a:hover,
.nav>li>a:focus {
  color: #8A0707;
  background-color: #E3DAC9;
}
.nav-pills>li>a {
  color: #E9967A;
}
#home h1,
#home h2{
  position: relative;
  top: 150px;
}
#home h1 {
  font-size: 80px;
}
.nav-tabs > li,
.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
}
.nav-tabs,
.nav-pills {
  text-align: center;
}
.content {
  margin-top: 76px;
}
div.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
#home {
  max-width: 100%;
  width: 100%;
  height: 707px;
  margin: 0px 0px;
  padding: 0px 0px;
  color: white;
  background-image: image-url('banner_bg.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
}
#products {
  margin-bottom: 40px;
  clear: both;
}
#products .col-md-4 {
  margin-top: 40px;
}
#products .col-md-4:nth-child(1) .form-inline {
  margin-top: 25px;
}
#about-us {
  background-image: image-url('about_bg.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 700px;
  padding: 0px 0px;
  margin: 0px 0px;
  color: #E9967A;
}
#about-text {
  width: 80%;
  margin: 75px auto;
}
#about-text p {
  width: 50%;
  float: right;
  color: #8A0707;
  font-size: 20px;
  margin-top: 100px;
}
.img-responsive {
  margin: 20px 0px;
}
div.panel-primary {
  border-color: #8A0707;
}
div.panel-primary>.panel-heading {
  color: black;
  background-color: #EFE4CE;
  border-color: #8A0707;
}
.form-group {
  width: 100%;
}
.input-group {
  width: 100%;
}
.modal-footer .col-sm-5 {
  padding: 0;
  text-align: left;
}
div.input-group-addon {
  float: left;
  line-height: 1.42857;
  width: 50px;
}
#quantity {
  width: 50px;
  float: left;
  display: inline-block;
  padding: 6px 10px;
}
.input-group div:nth-child(2) {
  float: right;
  display: inline-block;
}
.checkout {
  margin-left: 15px;
}
@media (max-width: 1000px) { 
  #home, #about-us {
    height: 600px;
  }
  h1.company {
    font-size: 30px;
  }
  #about-text p {
    margin-top: 0;
  }
}
@media (max-width: 800px) { 
  #home, #about-us {
    height: 500px;
  }
  h1.company {
    font-size: 20px;
  }
  #about-text p {
    font-size: 15px;
  }
  #home h1 {
    font-size: 50px;
    top: 100px;
  } 
  #home h2 {
    top: 100px;
  }
}
@media (max-width: 600px) { 
  #home, #about-us {
    height: 400px;
  }
}
