<div class="modal fade" id="sold_out_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-info-sign"></span> Order Alert</h4>
        <h2><%= @params %></h2>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <h4 class="col-sm-2">Name:</h4>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="fn" placeholder="First Name">
            </div>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="ln" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <h4 class="col-sm-2">Zip:</h4>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="add" placeholder="Zip Code">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 col-sm-offset-1">
              <label>
                <input type="radio" name="optionsRadios" id="1d" value="1">Free Standard Shipping</label>
            </div>
            <div class="col-sm-6"><span> Comments: </span>
              <textarea class="form-control" rows="3" id="comm"></textarea>
            </div>
          </div>
      </form>
        <div class="form-horizontal form-view hidden">We apologize, we are currently back-ordered. Please subscribe below to be placed on the waiting list! We promise the only email you will receive is when we are ready to ship your flour.</h5>
          <div class="mc-field-group input-group col-md-8"><span class="input-group-addon">@</span>
            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter Your E-Mail"><span class="input-group-btn"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default"></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="review">Checkout!</button>
      </div>
    </div>
  </div>
</div>

