<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <h1 class="pull-left col-md-7"> LuckyCricket Flour <small>&#8482;</small></h1>
    <ul class="nav nav-pills pull-right col-md-4" role="tablist">
      <li class="active"><a href="#home">Home</a>
      </li>
      <li><a href="#about_us">About Us</a>
      </li>
      <li><a href="#products">Products</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="tab-content">
    <div class="active col-md-12 col-sm-12 col-xs-12" id="home">
      <h2 style="position:relative;top:150px;color:white;">Shipped from CA. 100% Guarantee. Order now for free same-day shipping!</h2>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" id="about_us">
      <div id="about_text">
        <h2 style="position:relative;left:15%;top:50px;color:#E9967A;">About Us</h2>
        <p style="position:relative;left:15%;top:50px;color:#E9967A;">We are a start-up in the bay comitted to sustainable sources of food for the human race. We source our crickets from the very best of farms, comitted to excellence and surpassing all processing regulations. All of our cricket flour
              is ready to use, and ships to you same day from our California facility.</p>
      </div>
    </div>
    <div class="" id="products">
      <div class="row col-md-10 col-md-offset-1" style="margin-top:20px;">
        <% @products.each do |product| %>
          <%= render :partial => "products", :locals => {:product => product} %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal fade" id="sold_out_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-info-sign"></span> Order Alert</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <h4 class="col-sm-2">Name:</h4>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="fn" placeholder="First Name">
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" id="ln" placeholder="Last Name">
              </div>
            </div>
            <div class="form-group">
              <h4 class="col-sm-2">Zip:</h4>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="add" placeholder="Zip Code">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-1">
                <label>
                  <input type="radio" name="optionsRadios" id="1d" value="1">Free Standard Shipping</label>
              </div>
              <div class="col-sm-6"><span> Comments: </span>
                <textarea class="form-control" rows="3" id="comm"></textarea>
              </div>
            </div>
          </form>
          <div class="form-horizontal form-view hidden">We apologize, we are currently back-ordered. Please subscribe below to be placed on the waiting list! We promise the only email you will receive is when we are ready to ship your flour.</h5>
            <div class="mc-field-group input-group col-md-8"><span class="input-group-addon">@</span>
              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Enter Your E-Mail"><span class="input-group-btn"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default"></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="review">Checkout!</button>
        </div>
      </div>
    </div>
  </div>
</div>

