<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid col-md-12">
    <h1 class="company pull-left col-md-7"> 
      <img class="logo" src="http://placehold.it/40" />
      LuckyCricket Flour 
      <small>&#8482;</small>
    </h1>
    <ul class="nav nav-pills pull-right col-md-3" role="tablist">
      <li role="presentation" class="">
        <a href="#home">Home</a>
      </li>
      <li role="presentation">
        <a href="#products">Products</a>
      </li>
      <li role="presentation">
        <a href="#about-us">About Us</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content container-fluid">
  <div class="col-md-12 col-sm-12 col-xs-12" id="home" name="home">
    <h1>From smoothies to cookies</h1>
    <h2>100% Guarantee. Order now for free same-day shipping!</h2>
  </div>
  <div id="products" class="row col-md-10 col-md-offset-1"> 
    <% @products.each do |product| %>
      <%= render :partial => "products", :locals => {:product => product} %>
    <% end %>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" id="about-us" name="about-us">
    <div id="about-text" class="clearfix">
      <p>We are a start-up in the bay area committed to providing cricket flour to the average American. We source our crickets from the very best of FDA-registered farms, committed to excellence and surpassing all processing regulations. All of our cricket flour is ready to use, and ships to you same day from our California facility.</p>
    </div>
  </div>
  <div id="modal"></div>
</div>

